{
    "mtlsRootUrl": "https://www.mtls.googleapis.com/",
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/drive.photos.readonly": {
                    "description": "View the photos, videos and albums in your Google Photos"
                },
                "https://www.googleapis.com/auth/drive.scripts": {
                    "description": "Modify your Google Apps Script scripts' behavior"
                },
                "https://www.googleapis.com/auth/drive.metadata.readonly": {
                    "description": "See information about your Google Drive files"
                },
                "https://www.googleapis.com/auth/drive.apps.readonly": {
                    "description": "View your Google Drive apps"
                },
                "https://www.googleapis.com/auth/drive.meet.readonly": {
                    "description": "See and download your Google Drive files that were created or edited by Google Meet."
                },
                "https://www.googleapis.com/auth/drive.file": {
                    "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
                },
                "https://www.googleapis.com/auth/drive": {
                    "description": "See, edit, create, and delete all of your Google Drive files"
                },
                "https://www.googleapis.com/auth/drive.metadata": {
                    "description": "View and manage metadata of files in your Google Drive"
                },
                "https://www.googleapis.com/auth/drive.readonly": {
                    "description": "See and download all your Google Drive files"
                },
                "https://www.googleapis.com/auth/drive.appdata": {
                    "description": "See, create, and delete its own configuration data in your Google Drive"
                }
            }
        }
    },
    "servicePath": "drive/v2/",
    "name": "drive",
    "batchPath": "batch/drive/v2",
    "basePath": "/drive/v2/",
    "rootUrl": "https://www.googleapis.com/",
    "discoveryVersion": "v1",
    "resources": {
        "channels": {
            "methods": {
                "stop": {
                    "httpMethod": "POST",
                    "description": "Stops watching resources through this channel.",
                    "flatPath": "channels/stop",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "path": "channels/stop",
                    "id": "drive.channels.stop",
                    "parameterOrder": [],
                    "parameters": {},
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.apps.readonly",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                }
            }
        },
        "replies": {
            "methods": {
                "delete": {
                    "httpMethod": "DELETE",
                    "description": "Deletes a reply.",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "parameterOrder": [
                        "fileId",
                        "commentId",
                        "replyId"
                    ],
                    "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
                    "parameters": {
                        "fileId": {
                            "required": true,
                            "description": "The ID of the file.",
                            "location": "path",
                            "type": "string"
                        },
                        "replyId": {
                            "type": "string",
                            "location": "path",
                            "description": "The ID of the reply.",
                            "required": true
                        },
                        "commentId": {
                            "required": true,
                            "type": "string",
                            "location": "path",
                            "description": "The ID of the comment."
                        }
                    },
                    "id": "drive.replies.delete",
                    "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
                },
                "patch": {
                    "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
                    "description": "Updates an existing reply.",
                    "parameterOrder": [
                        "fileId",
                        "commentId",
                        "replyId"
                    ],
                    "id": "drive.replies.patch",
                    "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
                    "httpMethod": "PATCH",
                    "request": {
                        "$ref": "CommentReply"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "response": {
                        "$ref": "CommentReply"
                    },
                    "parameters": {
                        "replyId": {
                            "description": "The ID of the reply.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fileId": {
                            "type": "string",
                            "description": "The ID of the file.",
                            "location": "path",
                            "required": true
                        },
                        "commentId": {
                            "type": "string",
                            "required": true,
                            "location": "path",
                            "description": "The ID of the comment."
                        }
                    }
                },
                "update": {
                    "id": "drive.replies.update",
                    "request": {
                        "$ref": "CommentReply"
                    },
                    "parameterOrder": [
                        "fileId",
                        "commentId",
                        "replyId"
                    ],
                    "description": "Updates an existing reply.",
                    "parameters": {
                        "replyId": {
                            "type": "string",
                            "required": true,
                            "description": "The ID of the reply.",
                            "location": "path"
                        },
                        "commentId": {
                            "description": "The ID of the comment.",
                            "required": true,
                            "type": "string",
                            "location": "path"
                        },
                        "fileId": {
                            "description": "The ID of the file.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "httpMethod": "PUT",
                    "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "response": {
                        "$ref": "CommentReply"
                    },
                    "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
                },
                "get": {
                    "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
                    "httpMethod": "GET",
                    "response": {
                        "$ref": "CommentReply"
                    },
                    "description": "Gets a reply.",
                    "parameters": {
                        "fileId": {
                            "required": true,
                            "type": "string",
                            "description": "The ID of the file.",
                            "location": "path"
                        },
                        "replyId": {
                            "description": "The ID of the reply.",
                            "required": true,
                            "type": "string",
                            "location": "path"
                        },
                        "commentId": {
                            "location": "path",
                            "description": "The ID of the comment.",
                            "required": true,
                            "type": "string"
                        },
                        "includeDeleted": {
                            "type": "boolean",
                            "description": "If set, this will succeed when retrieving a deleted reply.",
                            "default": "false",
                            "location": "query"
                        }
                    },
                    "parameterOrder": [
                        "fileId",
                        "commentId",
                        "replyId"
                    ],
                    "id": "drive.replies.get",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "path": "files/{fileId}/comments/{commentId}/replies/{replyId}"
                },
                "insert": {
                    "path": "files/{fileId}/comments/{commentId}/replies",
                    "parameterOrder": [
                        "fileId",
                        "commentId"
                    ],
                    "id": "drive.replies.insert",
                    "request": {
                        "$ref": "CommentReply"
                    },
                    "parameters": {
                        "fileId": {
                            "required": true,
                            "location": "path",
                            "type": "string",
                            "description": "The ID of the file."
                        },
                        "commentId": {
                            "required": true,
                            "location": "path",
                            "type": "string",
                            "description": "The ID of the comment."
                        }
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "httpMethod": "POST",
                    "flatPath": "files/{fileId}/comments/{commentId}/replies",
                    "response": {
                        "$ref": "CommentReply"
                    },
                    "description": "Creates a new reply to the given comment."
                },
                "list": {
                    "parameterOrder": [
                        "fileId",
                        "commentId"
                    ],
                    "description": "Lists all of the replies to a comment.",
                    "flatPath": "files/{fileId}/comments/{commentId}/replies",
                    "response": {
                        "$ref": "CommentReplyList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "id": "drive.replies.list",
                    "path": "files/{fileId}/comments/{commentId}/replies",
                    "httpMethod": "GET",
                    "parameters": {
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "description": "The ID of the comment.",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
                            "type": "string"
                        },
                        "includeDeleted": {
                            "default": "false",
                            "location": "query",
                            "description": "If set, all replies, including deleted replies (with content stripped) will be returned.",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "maximum": "100",
                            "format": "int32",
                            "type": "integer",
                            "location": "query",
                            "minimum": "0",
                            "description": "The maximum number of replies to include in the response, used for paging.",
                            "default": "20"
                        },
                        "fileId": {
                            "required": true,
                            "type": "string",
                            "description": "The ID of the file.",
                            "location": "path"
                        }
                    }
                }
            }
        },
        "children": {
            "methods": {
                "delete": {
                    "path": "files/{folderId}/children/{childId}",
                    "parameterOrder": [
                        "folderId",
                        "childId"
                    ],
                    "httpMethod": "DELETE",
                    "description": "Removes a child from a folder.",
                    "parameters": {
                        "childId": {
                            "required": true,
                            "type": "string",
                            "description": "The ID of the child.",
                            "location": "path"
                        },
                        "enforceSingleParent": {
                            "type": "boolean",
                            "default": "false",
                            "deprecated": true,
                            "location": "query",
                            "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root."
                        },
                        "folderId": {
                            "type": "string",
                            "required": true,
                            "description": "The ID of the folder.",
                            "location": "path"
                        }
                    },
                    "id": "drive.children.delete",
                    "flatPath": "files/{folderId}/children/{childId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "get": {
                    "path": "files/{folderId}/children/{childId}",
                    "httpMethod": "GET",
                    "response": {
                        "$ref": "ChildReference"
                    },
                    "parameterOrder": [
                        "folderId",
                        "childId"
                    ],
                    "description": "Gets a specific child reference.",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "flatPath": "files/{folderId}/children/{childId}",
                    "parameters": {
                        "folderId": {
                            "description": "The ID of the folder.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "childId": {
                            "location": "path",
                            "required": true,
                            "description": "The ID of the child.",
                            "type": "string"
                        }
                    },
                    "id": "drive.children.get"
                },
                "list": {
                    "description": "Lists a folder's children.",
                    "httpMethod": "GET",
                    "parameterOrder": [
                        "folderId"
                    ],
                    "parameters": {
                        "q": {
                            "location": "query",
                            "type": "string",
                            "description": "Query string for searching children."
                        },
                        "maxResults": {
                            "location": "query",
                            "format": "int32",
                            "default": "100",
                            "minimum": "0",
                            "description": "Maximum number of children to return.",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Page token for children.",
                            "type": "string",
                            "location": "query"
                        },
                        "folderId": {
                            "required": true,
                            "description": "The ID of the folder.",
                            "location": "path",
                            "type": "string"
                        },
                        "orderBy": {
                            "location": "query",
                            "type": "string",
                            "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored."
                        }
                    },
                    "response": {
                        "$ref": "ChildList"
                    },
                    "id": "drive.children.list",
                    "flatPath": "files/{folderId}/children",
                    "path": "files/{folderId}/children",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "insert": {
                    "parameterOrder": [
                        "folderId"
                    ],
                    "id": "drive.children.insert",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "request": {
                        "$ref": "ChildReference"
                    },
                    "flatPath": "files/{folderId}/children",
                    "description": "Inserts a file into a folder.",
                    "response": {
                        "$ref": "ChildReference"
                    },
                    "path": "files/{folderId}/children",
                    "httpMethod": "POST",
                    "parameters": {
                        "supportsAllDrives": {
                            "default": "false",
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "type": "boolean",
                            "location": "query"
                        },
                        "folderId": {
                            "description": "The ID of the folder.",
                            "type": "string",
                            "location": "path",
                            "required": true
                        },
                        "enforceSingleParent": {
                            "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
                            "deprecated": true,
                            "location": "query",
                            "type": "boolean",
                            "default": "false"
                        },
                        "supportsTeamDrives": {
                            "deprecated": true,
                            "location": "query",
                            "default": "false",
                            "type": "boolean",
                            "description": "Deprecated: Use `supportsAllDrives` instead."
                        }
                    }
                }
            }
        },
        "teamdrives": {
            "methods": {
                "delete": {
                    "path": "teamdrives/{teamDriveId}",
                    "parameterOrder": [
                        "teamDriveId"
                    ],
                    "description": "Deprecated: Use `drives.delete` instead.",
                    "flatPath": "teamdrives/{teamDriveId}",
                    "parameters": {
                        "teamDriveId": {
                            "location": "path",
                            "description": "The ID of the Team Drive",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ],
                    "id": "drive.teamdrives.delete"
                },
                "insert": {
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ],
                    "parameters": {
                        "requestId": {
                            "required": true,
                            "type": "string",
                            "location": "query",
                            "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned."
                        }
                    },
                    "parameterOrder": [
                        "requestId"
                    ],
                    "request": {
                        "$ref": "TeamDrive"
                    },
                    "description": "Deprecated: Use `drives.insert` instead.",
                    "httpMethod": "POST",
                    "path": "teamdrives",
                    "flatPath": "teamdrives",
                    "response": {
                        "$ref": "TeamDrive"
                    },
                    "id": "drive.teamdrives.insert"
                },
                "get": {
                    "description": "Deprecated: Use `drives.get` instead.",
                    "id": "drive.teamdrives.get",
                    "response": {
                        "$ref": "TeamDrive"
                    },
                    "parameters": {
                        "useDomainAdminAccess": {
                            "default": "false",
                            "location": "query",
                            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
                            "type": "boolean"
                        },
                        "teamDriveId": {
                            "required": true,
                            "description": "The ID of the Team Drive",
                            "location": "path",
                            "type": "string"
                        }
                    },
                    "flatPath": "teamdrives/{teamDriveId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "httpMethod": "GET",
                    "parameterOrder": [
                        "teamDriveId"
                    ],
                    "path": "teamdrives/{teamDriveId}"
                },
                "update": {
                    "path": "teamdrives/{teamDriveId}",
                    "request": {
                        "$ref": "TeamDrive"
                    },
                    "description": "Deprecated: Use `drives.update` instead.",
                    "id": "drive.teamdrives.update",
                    "response": {
                        "$ref": "TeamDrive"
                    },
                    "parameters": {
                        "teamDriveId": {
                            "description": "The ID of the Team Drive",
                            "required": true,
                            "location": "path",
                            "type": "string"
                        },
                        "useDomainAdminAccess": {
                            "location": "query",
                            "type": "boolean",
                            "default": "false",
                            "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
                        }
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ],
                    "flatPath": "teamdrives/{teamDriveId}",
                    "parameterOrder": [
                        "teamDriveId"
                    ],
                    "httpMethod": "PUT"
                },
                "list": {
                    "id": "drive.teamdrives.list",
                    "parameterOrder": [],
                    "response": {
                        "$ref": "TeamDriveList"
                    },
                    "parameters": {
                        "q": {
                            "description": "Query string for searching Team Drives.",
                            "type": "string",
                            "location": "query"
                        },
                        "useDomainAdminAccess": {
                            "type": "boolean",
                            "default": "false",
                            "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
                            "location": "query"
                        },
                        "maxResults": {
                            "type": "integer",
                            "description": "Maximum number of Team Drives to return.",
                            "default": "10",
                            "format": "int32",
                            "minimum": "1",
                            "maximum": "100",
                            "location": "query"
                        },
                        "pageToken": {
                            "location": "query",
                            "description": "Page token for Team Drives.",
                            "type": "string"
                        }
                    },
                    "httpMethod": "GET",
                    "description": "Deprecated: Use `drives.list` instead.",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "path": "teamdrives",
                    "flatPath": "teamdrives"
                }
            }
        },
        "parents": {
            "methods": {
                "insert": {
                    "request": {
                        "$ref": "ParentReference"
                    },
                    "id": "drive.parents.insert",
                    "response": {
                        "$ref": "ParentReference"
                    },
                    "parameterOrder": [
                        "fileId"
                    ],
                    "httpMethod": "POST",
                    "flatPath": "files/{fileId}/parents",
                    "parameters": {
                        "supportsAllDrives": {
                            "location": "query",
                            "default": "false",
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "type": "boolean"
                        },
                        "fileId": {
                            "description": "The ID of the file.",
                            "type": "string",
                            "required": true,
                            "location": "path"
                        },
                        "supportsTeamDrives": {
                            "deprecated": true,
                            "location": "query",
                            "type": "boolean",
                            "description": "Deprecated: Use `supportsAllDrives` instead.",
                            "default": "false"
                        },
                        "enforceSingleParent": {
                            "default": "false",
                            "deprecated": true,
                            "type": "boolean",
                            "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
                            "location": "query"
                        }
                    },
                    "description": "Adds a parent folder for a file.",
                    "path": "files/{fileId}/parents",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ]
                },
                "list": {
                    "httpMethod": "GET",
                    "flatPath": "files/{fileId}/parents",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "path": "files/{fileId}/parents",
                    "id": "drive.parents.list",
                    "description": "Lists a file's parents.",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "parameters": {
                        "fileId": {
                            "description": "The ID of the file.",
                            "type": "string",
                            "required": true,
                            "location": "path"
                        }
                    },
                    "response": {
                        "$ref": "ParentList"
                    }
                },
                "get": {
                    "flatPath": "files/{fileId}/parents/{parentId}",
                    "parameterOrder": [
                        "fileId",
                        "parentId"
                    ],
                    "path": "files/{fileId}/parents/{parentId}",
                    "httpMethod": "GET",
                    "response": {
                        "$ref": "ParentReference"
                    },
                    "parameters": {
                        "fileId": {
                            "location": "path",
                            "type": "string",
                            "description": "The ID of the file.",
                            "required": true
                        },
                        "parentId": {
                            "type": "string",
                            "location": "path",
                            "required": true,
                            "description": "The ID of the parent."
                        }
                    },
                    "description": "Gets a specific parent reference.",
                    "id": "drive.parents.get",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ]
                },
                "delete": {
                    "httpMethod": "DELETE",
                    "parameters": {
                        "enforceSingleParent": {
                            "deprecated": true,
                            "default": "false",
                            "location": "query",
                            "type": "boolean",
                            "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root."
                        },
                        "fileId": {
                            "required": true,
                            "location": "path",
                            "type": "string",
                            "description": "The ID of the file."
                        },
                        "parentId": {
                            "required": true,
                            "location": "path",
                            "description": "The ID of the parent.",
                            "type": "string"
                        }
                    },
                    "description": "Removes a parent from a file.",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "path": "files/{fileId}/parents/{parentId}",
                    "id": "drive.parents.delete",
                    "flatPath": "files/{fileId}/parents/{parentId}",
                    "parameterOrder": [
                        "fileId",
                        "parentId"
                    ]
                }
            }
        },
        "files": {
            "methods": {
                "emptyTrash": {
                    "path": "files/trash",
                    "httpMethod": "DELETE",
                    "parameterOrder": [],
                    "parameters": {
                        "enforceSingleParent": {
                            "deprecated": true,
                            "location": "query",
                            "type": "boolean",
                            "default": "false",
                            "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root."
                        },
                        "driveId": {
                            "type": "string",
                            "location": "query",
                            "description": "If set, empties the trash of the provided shared drive."
                        }
                    },
                    "description": "Permanently deletes all of the user's trashed files.",
                    "flatPath": "files/trash",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive"
                    ],
                    "id": "drive.files.emptyTrash"
                },
                "trash": {
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.apps.readonly",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "parameters": {
                        "includeLabels": {
                            "type": "string",
                            "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
                            "location": "query"
                        },
                        "fileId": {
                            "type": "string",
                            "description": "The ID of the file to trash.",
                            "required": true,
                            "location": "path"
                        },
                        "supportsTeamDrives": {
                            "type": "boolean",
                            "deprecated": true,
                            "default": "false",
                            "location": "query",
                            "description": "Deprecated: Use `supportsAllDrives` instead."
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string",
                            "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "type": "boolean",
                            "location": "query"
                        }
                    },
                    "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
                    "path": "files/{fileId}/trash",
                    "httpMethod": "POST",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "flatPath": "files/{fileId}/trash",
                    "response": {
                        "$ref": "File"
                    },
                    "id": "drive.files.trash"
                },
                "update": {
                    "supportsMediaUpload": true,
                    "path": "files/{fileId}",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "httpMethod": "PUT",
                    "parameters": {
                        "supportsTeamDrives": {
                            "deprecated": true,
                            "location": "query",
                            "type": "boolean",
                            "description": "Deprecated: Use `supportsAllDrives` instead.",
                            "default": "false"
                        },
                        "timedTextTrackName": {
                            "type": "string",
                            "location": "query",
                            "description": "The timed text track name."
                        },
                        "removeParents": {
                            "type": "string",
                            "description": "Comma-separated list of parent IDs to remove.",
                            "location": "query"
                        },
                        "fileId": {
                            "location": "path",
                            "description": "The ID of the file to update.",
                            "type": "string",
                            "required": true
                        },
                        "newRevision": {
                            "default": "true",
                            "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045).",
                            "type": "boolean",
                            "location": "query"
                        },
                        "supportsAllDrives": {
                            "location": "query",
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "type": "boolean",
                            "default": "false"
                        },
                        "timedTextLanguage": {
                            "type": "string",
                            "location": "query",
                            "description": "The language of the timed text."
                        },
                        "ocr": {
                            "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
                            "type": "boolean",
                            "location": "query",
                            "default": "false"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "type": "string",
                            "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
                        },
                        "updateViewedDate": {
                            "default": "true",
                            "location": "query",
                            "description": "Whether to update the view date after successfully updating the file.",
                            "type": "boolean"
                        },
                        "setModifiedDate": {
                            "location": "query",
                            "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
                            "type": "boolean",
                            "default": "false"
                        },
                        "includeLabels": {
                            "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
                            "type": "string",
                            "location": "query"
                        },
                        "enforceSingleParent": {
                            "type": "boolean",
                            "default": "false",
                            "location": "query",
                            "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
                            "deprecated": true
                        },
                        "modifiedDateBehavior": {
                            "enum": [
                                "fromBody",
                                "fromBodyIfNeeded",
                                "fromBodyOrNow",
                                "noChange",
                                "now",
                                "nowIfNeeded"
                            ],
                            "location": "query",
                            "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
                            "enumDescriptions": [
                                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                                "Maintain the previous value of `modifiedDate`.",
                                "Set `modifiedDate` to the current time.",
                                "Set `modifiedDate` to the current time depending on contents of the update."
                            ],
                            "type": "string"
                        },
                        "ocrLanguage": {
                            "type": "string",
                            "location": "query",
                            "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
                        },
                        "pinned": {
                            "type": "boolean",
                            "location": "query",
                            "default": "false",
                            "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions."
                        },
                        "useContentAsIndexableText": {
                            "description": "Whether to use the content as indexable text.",
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "addParents": {
                            "type": "string",
                            "location": "query",
                            "description": "Comma-separated list of parent IDs to add."
                        },
                        "convert": {
                            "location": "query",
                            "description": "Deprecated: This parameter has no function.",
                            "default": "false",
                            "deprecated": true,
                            "type": "boolean"
                        }
                    },
                    "flatPath": "files/{fileId}",
                    "mediaUpload": {
                        "maxSize": "5497558138880",
                        "accept": [
                            "*/*"
                        ],
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/drive/v2/files/{fileId}"
                            },
                            "simple": {
                                "path": "/upload/drive/v2/files/{fileId}",
                                "multipart": true
                            }
                        }
                    },
                    "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](/workspace/drive/api/guides/manage-uploads).",
                    "request": {
                        "$ref": "File"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.apps.readonly",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.scripts"
                    ],
                    "id": "drive.files.update",
                    "response": {
                        "$ref": "File"
                    }
                },
                "list": {
                    "id": "drive.files.list",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.apps.readonly",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "description": " Lists the user's files. For more information, see [Search for files and folders](/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
                    "path": "files",
                    "parameters": {
                        "pageToken": {
                            "location": "query",
                            "type": "string",
                            "description": "Page token for files."
                        },
                        "corpus": {
                            "deprecated": true,
                            "enum": [
                                "DEFAULT",
                                "DOMAIN"
                            ],
                            "location": "query",
                            "type": "string",
                            "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
                            "enumDescriptions": [
                                "The items that the user has accessed.",
                                "Items shared to the user's domain."
                            ]
                        },
                        "corpora": {
                            "location": "query",
                            "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
                            "type": "string"
                        },
                        "orderBy": {
                            "type": "string",
                            "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored.",
                            "location": "query"
                        },
                        "includeItemsFromAllDrives": {
                            "location": "query",
                            "default": "false",
                            "description": "Whether both My Drive and shared drive items should be included in results.",
                            "type": "boolean"
                        },
                        "includePermissionsForView": {
                            "type": "string",
                            "location": "query",
                            "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
                        },
                        "maxResults": {
                            "default": "100",
                            "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
                            "location": "query",
                            "type": "integer",
                            "minimum": "0",
                            "format": "int32"
                        },
                        "driveId": {
                            "description": "ID of the shared drive to search.",
                            "type": "string",
                            "location": "query"
                        },
                        "q": {
                            "type": "string",
                            "location": "query",
                            "description": "Query string for searching files."
                        },
                        "includeTeamDriveItems": {
                            "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
                            "deprecated": true,
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsAllDrives": {
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "type": "boolean",
                            "location": "query",
                            "default": "false"
                        },
                        "includeLabels": {
                            "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
                            "location": "query",
                            "type": "string"
                        },
                        "supportsTeamDrives": {
                            "location": "query",
                            "description": "Deprecated: Use `supportsAllDrives` instead.",
                            "default": "false",
                            "deprecated": true,
                            "type": "boolean"
                        },
                        "teamDriveId": {
                            "description": "Deprecated: Use `driveId` instead.",
                            "location": "query",
                            "deprecated": true,
                            "type": "string"
                        },
                        "spaces": {
                            "location": "query",
                            "type": "string",
                            "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`."
                        },
                        "projection": {
                            "description": "Deprecated: This parameter has no function.",
                            "enumDescriptions": [
                                "Deprecated.",
                                "Deprecated."
                            ],
                            "type": "string",
                            "location": "query",
                            "deprecated": true,
                            "enum": [
                                "BASIC",
                                "FULL"
                            ]
                        }
                    },
                    "flatPath": "files",
                    "httpMethod": "GET",
                    "parameterOrder": [],
                    "response": {
                        "$ref": "FileList"
                    }
                },
                "delete": {
                    "flatPath": "files/{fileId}",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "id": "drive.files.delete",
                    "parameters": {
                        "supportsAllDrives": {
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "type": "boolean",
                            "location": "query",
                            "default": "false"
                        },
                        "enforceSingleParent": {
                            "type": "boolean",
                            "location": "query",
                            "deprecated": true,
                            "default": "false",
                            "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root."
                        },
                        "fileId": {
                            "location": "path",
                            "required": true,
                            "type": "string",
                            "description": "The ID of the file to delete."
                        },
                        "supportsTeamDrives": {
                            "description": "Deprecated: Use `supportsAllDrives` instead.",
                            "location": "query",
                            "deprecated": true,
                            "type": "boolean",
                            "default": "false"
                        }
                    },
                    "path": "files/{fileId}",
                    "httpMethod": "DELETE",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted."
                },
                "insert": {
                    "request": {
                        "$ref": "File"
                    },
                    "id": "drive.files.insert",
                    "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.apps.readonly",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "supportsMediaUpload": true,
                    "parameterOrder": [],
                    "path": "files",
                    "httpMethod": "POST",
                    "flatPath": "files",
                    "parameters": {
                        "visibility": {
                            "enum": [
                                "DEFAULT",
                                "PRIVATE"
                            ],
                            "location": "query",
                            "type": "string",
                            "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
                            "enumDescriptions": [
                                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
                            ],
                            "default": "DEFAULT"
                        },
                        "enforceSingleParent": {
                            "default": "false",
                            "type": "boolean",
                            "deprecated": true,
                            "description": "Deprecated: Creating files in multiple folders is no longer supported.",
                            "location": "query"
                        },
                        "pinned": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean",
                            "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions."
                        },
                        "timedTextLanguage": {
                            "location": "query",
                            "description": "The language of the timed text.",
                            "type": "string"
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "includeLabels": {
                            "type": "string",
                            "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
                            "location": "query"
                        },
                        "ocrLanguage": {
                            "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
                            "location": "query",
                            "type": "string"
                        },
                        "useContentAsIndexableText": {
                            "type": "boolean",
                            "description": "Whether to use the content as indexable text.",
                            "location": "query",
                            "default": "false"
                        },
                        "convert": {
                            "location": "query",
                            "type": "boolean",
                            "description": "Whether to convert this file to the corresponding Docs Editors format.",
                            "default": "false"
                        },
                        "includePermissionsForView": {
                            "type": "string",
                            "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
                            "location": "query"
                        },
                        "timedTextTrackName": {
                            "location": "query",
                            "description": "The timed text track name.",
                            "type": "string"
                        },
                        "supportsTeamDrives": {
                            "description": "Deprecated: Use `supportsAllDrives` instead.",
                            "default": "false",
                            "location": "query",
                            "type": "boolean",
                            "deprecated": true
                        },
                        "ocr": {
                            "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
                            "type": "boolean",
                            "location": "query",
                            "default": "false"
                        }
                    },
                    "mediaUpload": {
                        "protocols": {
                            "simple": {
                                "path": "/upload/drive/v2/files",
                                "multipart": true
                            },
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/drive/v2/files"
                            }
                        },
                        "maxSize": "5497558138880",
                        "accept": [
                            "*/*"
                        ]
                    },
                    "response": {
                        "$ref": "File"
                    }
                },
                "touch": {
                    "parameters": {
                        "includeLabels": {
                            "type": "string",
                            "location": "query",
                            "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
                        },
                        "supportsAllDrives": {
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "location": "query",
                            "type": "boolean",
                            "default": "false"
                        },
                        "supportsTeamDrives": {
                            "description": "Deprecated: Use `supportsAllDrives` instead.",
                            "type": "boolean",
                            "location": "query",
                            "deprecated": true,
                            "default": "false"
                        },
                        "fileId": {
                            "location": "path",
                            "type": "string",
                            "required": true,
                            "description": "The ID of the file to update."
                        },
                        "includePermissionsForView": {
                            "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.apps.readonly",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata"
                    ],
                    "path": "files/{fileId}/touch",
                    "httpMethod": "POST",
                    "response": {
                        "$ref": "File"
                    },
                    "parameterOrder": [
                        "fileId"
                    ],
                    "description": "Set the file's updated time to the current server time.",
                    "flatPath": "files/{fileId}/touch",
                    "id": "drive.files.touch"
                },
                "copy": {
                    "description": "Creates a copy of the specified file.",
                    "httpMethod": "POST",
                    "flatPath": "files/{fileId}/copy",
                    "request": {
                        "$ref": "File"
                    },
                    "id": "drive.files.copy",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.apps.readonly",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.photos.readonly"
                    ],
                    "parameterOrder": [
                        "fileId"
                    ],
                    "response": {
                        "$ref": "File"
                    },
                    "path": "files/{fileId}/copy",
                    "parameters": {
                        "enforceSingleParent": {
                            "location": "query",
                            "type": "boolean",
                            "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
                            "deprecated": true,
                            "default": "false"
                        },
                        "fileId": {
                            "description": "The ID of the file to copy.",
                            "required": true,
                            "location": "path",
                            "type": "string"
                        },
                        "timedTextLanguage": {
                            "location": "query",
                            "description": "The language of the timed text.",
                            "type": "string"
                        },
                        "visibility": {
                            "enum": [
                                "DEFAULT",
                                "PRIVATE"
                            ],
                            "enumDescriptions": [
                                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
                            ],
                            "location": "query",
                            "type": "string",
                            "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
                            "default": "DEFAULT"
                        },
                        "timedTextTrackName": {
                            "description": "The timed text track name.",
                            "type": "string",
                            "location": "query"
                        },
                        "supportsAllDrives": {
                            "type": "boolean",
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "default": "false",
                            "location": "query"
                        },
                        "ocr": {
                            "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
                            "default": "false",
                            "type": "boolean",
                            "location": "query"
                        },
                        "includePermissionsForView": {
                            "location": "query",
                            "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
                            "type": "string"
                        },
                        "supportsTeamDrives": {
                            "description": "Deprecated: Use `supportsAllDrives` instead.",
                            "location": "query",
                            "default": "false",
                            "type": "boolean",
                            "deprecated": true
                        },
                        "pinned": {
                            "location": "query",
                            "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
                            "type": "boolean",
                            "default": "false"
                        },
                        "ocrLanguage": {
                            "type": "string",
                            "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes.",
                            "location": "query"
                        },
                        "includeLabels": {
                            "type": "string",
                            "location": "query",
                            "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
                        },
                        "convert": {
                            "default": "false",
                            "location": "query",
                            "description": "Whether to convert this file to the corresponding Docs Editors format.",
                            "type": "boolean"
                        }
                    }
                },
                "generateIds": {
                    "httpMethod": "GET",
                    "id": "drive.files.generateIds",
                    "flatPath": "files/generateIds",
                    "parameters": {
                        "space": {
                            "type": "string",
                            "default": "drive",
                            "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
                            "location": "query"
                        },
                        "maxResults": {
                            "minimum": "1",
                            "location": "query",
                            "default": "10",
                            "description": "Maximum number of IDs to return.",
                            "maximum": "1000",
                            "format": "int32",
                            "type": "integer"
                        },
                        "type": {
                            "location": "query",
                            "type": "string",
                            "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
                            "default": "files"
                        }
                    },
                    "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
                    "parameterOrder": [],
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file"
                    ],
                    "path": "files/generateIds",
                    "response": {
                        "$ref": "GeneratedIds"
                    }
                },
                "watch": {
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "response": {
                        "$ref": "Channel"
                    },
                    "path": "files/{fileId}/watch",
                    "supportsSubscription": true,
                    "description": "Subscribes to changes to a file.",
                    "id": "drive.files.watch",
                    "httpMethod": "POST",
                    "parameterOrder": [
                        "fileId"
                    ],
                    "flatPath": "files/{fileId}/watch",
                    "parameters": {
                        "updateViewedDate": {
                            "type": "boolean",
                            "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
                            "deprecated": true,
                            "location": "query",
                            "default": "false"
                        },
                        "projection": {
                            "location": "query",
                            "description": "Deprecated: This parameter has no function.",
                            "deprecated": true,
                            "enum": [
                                "BASIC",
                                "FULL"
                            ],
                            "type": "string",
                            "enumDescriptions": [
                                "Deprecated.",
                                "Deprecated."
                            ]
                        },
                        "revisionId": {
                            "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
                            "type": "string",
                            "location": "query"
                        },
                        "acknowledgeAbuse": {
                            "location": "query",
                            "type": "boolean",
                            "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
                            "default": "false"
                        },
                        "fileId": {
                            "description": "The ID for the file in question.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "supportsTeamDrives": {
                            "deprecated": true,
                            "type": "boolean",
                            "location": "query",
                            "description": "Deprecated: Use `supportsAllDrives` instead.",
                            "default": "false"
                        },
                        "includeLabels": {
                            "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
                            "type": "string",
                            "location": "query"
                        },
                        "supportsAllDrives": {
                            "type": "boolean",
                            "default": "false",
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "location": "query"
                        },
                        "includePermissionsForView": {
                            "type": "string",
                            "location": "query",
                            "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
                        }
                    },
                    "request": {
                        "parameterName": "resource",
                        "$ref": "Channel"
                    }
                },
                "export": {
                    "supportsMediaDownload": true,
                    "id": "drive.files.export",
                    "parameterOrder": [
                        "fileId",
                        "mimeType"
                    ],
                    "path": "files/{fileId}/export",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "flatPath": "files/{fileId}/export",
                    "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
                    "useMediaDownloadService": true,
                    "httpMethod": "GET",
                    "parameters": {
                        "fileId": {
                            "type": "string",
                            "description": "The ID of the file.",
                            "location": "path",
                            "required": true
                        },
                        "mimeType": {
                            "required": true,
                            "location": "query",
                            "type": "string",
                            "description": "Required. The MIME type of the format requested for this export."
                        }
                    }
                },
                "patch": {
                    "request": {
                        "$ref": "File"
                    },
                    "flatPath": "files/{fileId}",
                    "parameters": {
                        "newRevision": {
                            "location": "query",
                            "default": "true",
                            "type": "boolean",
                            "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request."
                        },
                        "convert": {
                            "default": "false",
                            "deprecated": true,
                            "description": "Deprecated: This parameter has no function.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "timedTextTrackName": {
                            "description": "The timed text track name.",
                            "location": "query",
                            "type": "string"
                        },
                        "timedTextLanguage": {
                            "type": "string",
                            "location": "query",
                            "description": "The language of the timed text."
                        },
                        "includeLabels": {
                            "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
                            "type": "string",
                            "location": "query"
                        },
                        "fileId": {
                            "description": "The ID of the file to update.",
                            "required": true,
                            "location": "path",
                            "type": "string"
                        },
                        "ocrLanguage": {
                            "location": "query",
                            "type": "string",
                            "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
                        },
                        "addParents": {
                            "location": "query",
                            "type": "string",
                            "description": "Comma-separated list of parent IDs to add."
                        },
                        "useContentAsIndexableText": {
                            "description": "Whether to use the content as indexable text.",
                            "location": "query",
                            "default": "false",
                            "type": "boolean"
                        },
                        "modifiedDateBehavior": {
                            "enumDescriptions": [
                                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                                "Maintain the previous value of `modifiedDate`.",
                                "Set `modifiedDate` to the current time.",
                                "Set `modifiedDate` to the current time depending on contents of the update."
                            ],
                            "type": "string",
                            "enum": [
                                "fromBody",
                                "fromBodyIfNeeded",
                                "fromBodyOrNow",
                                "noChange",
                                "now",
                                "nowIfNeeded"
                            ],
                            "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
                            "location": "query"
                        },
                        "ocr": {
                            "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
                            "type": "boolean",
                            "location": "query",
                            "default": "false"
                        },
                        "pinned": {
                            "default": "false",
                            "type": "boolean",
                            "location": "query",
                            "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request."
                        },
                        "supportsAllDrives": {
                            "default": "false",
                            "location": "query",
                            "description": "Whether the requesting application supports both My Drives and shared drives.",
                            "type": "boolean"
                        },
                        "removeParents": {
                            "description": "Comma-separated list of parent IDs to remove.",
                            "location": "query",
                            "type": "string"
                        },
                        "updateViewedDate": {
                            "type": "boolean",
                            "default": "true",
                            "location": "query",
                            "description": "Whether to update the view date after successfully updating the file."
                        },
                        "setModifiedDate": {
                            "type": "boolean",
                            "default": "false",
                            "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
                            "location": "query"
                        },
                        "includePermissionsForView": {
                            "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
                            "type": "string",
                            "location": "query"
                        },
                        "supportsTeamDrives": {
                            "location": "query",
                            "deprecated": true,
                            "description": "Deprecated: Use `supportsAllDrives` instead.",
                            "type": "boolean",
                            "default": "false"
                        },
                        "enforceSingleParent": {
                            "deprecated": true,
                            "location": "query",
                            "default": "false",
                            "type": "boolean",
                            "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
                        }
                    },
                    "parameterOrder": [
                        "fileId"
                    ],
                    "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.apps.readonly",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.scripts"
                    ],
                    "path": "files/{fileId}",
                    "id": "drive.files.patch",
                    "httpMethod": "PATCH",
                    "response": {
                        "$ref": "File"
                    }
                },
                "get": {
                    "httpMethod": "GET",
                    "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](/workspace/drive/api/guides/manage-downloads).",
                    "path": "files/{fileId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.appdata",
                        "https://www.googleapis.com/auth/drive.file",
                        "https://www.googleapis.com/auth/drive.meet.readonly",
                        "https://www.googleapis.com/auth/drive.metadata",
                        "https://www.googleapis.com/auth/drive.metadata.readonly",
                        "https://www.googleapis.com/auth/drive.photos.readonly",
                        "https://www.googleapis.com/auth/drive.readonly"
                    ],
                    "response": {
                        "$ref": "File"
                    },
                    "useMediaDownloadService": true,
                    "id": "drive.files.get",
                    "parameters": {
                        "supportsTeamDrives": {
                            "default": "false",
                            "deprecated": true,
                            "type": "boolean",
                            "location": "query",
                            "description": "Deprecated: Use `supportsAllDrives` instead."
                        },
                        "revisionId": {
                            "location": "query",
[...]
