name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm install

    - name: Lint
      run: npm run lint

    - name: Build
      run: npm run build

    - name: Test (Node)
      run: npm test

    - name: Install Playwright Browsers
      run: npx playwright@1.58.0 install chromium

    - name: Test (Browser)
      run: npm run test:browser

    - name: Test Slow
      run: npm run test:slow
