name: Minor Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - run: npm install
      - name: Git Config
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Bump Minor Version
        id: bump
        run: |
            NEW_VERSION=$(npm version minor --no-git-tag-version)
            echo "version=$NEW_VERSION" >> $GITHUB_OUTPUT

      - run: npm run build
      - run: npm run lint
      - run: npm test
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Push changes
        run: |
          git add package.json package-lock.json
          git commit -m "release: ${{ steps.bump.outputs.version }}"
          git push
